
.techfont{
  font-family: "Rubik";
  font-size: 1.5em;
  margin-bottom: 10px;
}

.bigbrand{
  font-family: "Rubik";
  font-size: 1.5em;
}
.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.postdate{
  font-family: "Rubik";
  text-align: center;
}

.posttitle{
  font-family: "Rubik";
  font-size: 3em;
  text-align: center;
}

.postcontent{
  font-family: "Rubik";
  font-size: 1.5em;
}
.about{
  font-family: "Rubik";
  font-size: 1.5em;
  color: white;  
}

.btn-comment{
  font-family: "Rubik";
  position: absolute;
  right: 0px;
}
body, html {
  font-family: "Rubik";
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("/static/images/bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
