/* Your custom styles */

body, html {
  font-family: "Rubik";
  height: 100%;
}
.bigbrand {
  font-family: "Rubik";
  font-size: 1.75em;
}

.centerstage {
  margin-left: auto;
  margin-right: auto;
}

.posttitle {
  font-family: "Rubik";
  font-size: 3em;
  text-align: center;
}

.postdate {
  font-family: "Rubik";
  font-size: .8em;
  text-align: center;
  color: gray;
}

.postcontent {
  font-family: "Rubik";
  text-align: center;
}

.about {
  font-family: "Rubik";
  font-size: 1.5em;
  color: black;
}

.btn-comment {
  font-family: "Rubik";
  position: Center;
}

@include media-breakpoint-up(md) {
  .introdisplay h2 {
    display: 5;
  }
}

html, body,
/* header, */

#intro {
  height: 100%;
}

@media screen and (orientation: landscape) {
  .introdisplay {
    padding-top: 8em;
  }
}

#intro {
  background: url("/static/images/bgsmm.jpg")center no-repeat;
  -webkit-background-size: cover;
  -moz-webkit-background-size: cover;
  -o-webkit-background-size: cover;
  background-size: cover;
  background-color: #77574a;
}

.introdisplay {
  height: auto;
}

/* @media only screen and (min-width: 370px) {
  #intro .aboutBackText {
    font-size: .9em;
  }
  #intro .aboutBackText h4 {
    font-size: 2em;
  }
}

@media screen and (max-width: 900px) and (min-width: 380px), (min-width: 900px) {
  #intro .aboutBackText {
    font-size: 1.2em;
  }
  #intro .aboutBackText h4 {
    font-size: 1.6em;
  }
}*/

#two {
  scroll-behavior: smooth;
}

/* Make Card background transparent and align items within card */

.invisCard {
  background-color: rgba(245, 245, 245, 0);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -0-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Adding flip functionality to card for on click of button */

.flip {
  -webkit-perspective: 800px;
  width: 380px;
  height: 200px;
  position: relative;
  margin: 50px auto;
}

.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}

.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  text-align: center;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
  background: transparent;
  color: white;
  cursor: pointer;
}

.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  background: transparent;
  color: white;
  cursor: pointer;
}
#listPics img{
  height: 400px;
  width: 300px; 
}
.detailImage img{
  width: 100%;
}
@media only screen and (min-width: 860px){
.detailImage img{
  width: 100%;
}
.postDetail{
  margin: auto;
  width: 50%;
  padding: 10px;
}
}
#postFormCard {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}
#CommentFormCard {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}
