<!-- Mask -->
<div id="intro" class="view animated fadeIn">
  <div class="full-bg-img container-fluid rgba-black-light d-flex align-items-center justify-content-center pb-3">
    <div class="row d-flex justify-content-center">
      <div class="flip" id="aboutFlip">


        <div class="card invisCard col-lg-12 col-md-12 text-center pb-2 pl-0">
          <div class="face front col-lg-12 col-md-12 justify-content-center text-center">

            <h1 class="introdisplay display-4 font-bold white-text pt-3">Newfangled</h1>

            <!-- Divider -->
            <hr class="hr-light">

            <!-- Description -->
            <h4 class="introtext white-text"><em>Different from what one is used to; objectionably new.</em></h4>
            <!-- <a href="#" class="btn btn-primary" style="width:25%;">Go somewhere</a> -->
            <button type="button" class="btn btn-outline-white waves-effect center" style="width:auto;">Read more <i class="fa fa-book ml-2"></i> </button>
          </div>
          <div class="face back col-lg-12 col-md-12 text-center" style="width:auto;">
            <div class="aboutBackText">

              <h4>Thanks for your interest in Newfangled Coffee!</h4>
              <p>This page has been created as a place to be able to explore and share all things coffee, such as; coffees experienced, equipment used, and much more!</p>
              <p>Why Newfangled?<br>Coffee may be a very old drink but it changes a lot and isn't the brew grandpa use to make anymore. So let's see what this Newfangled coffee is all about!</p>
              <!-- <hr class="hr-light"> -->
            </div>
            <p><strong>This site was also created as a project to apply my skills of Django, Python, HTML, CSS, Javascript, and even some Linux!<br>If you need a Full Stack devloper, contact me below!</strong></p>
            <br>

          </div>

        </div>
      </div>

    </div>

  </div>
  <br>
  <br>
</div>
