{% load static %}
<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-dark brown fixed-top scrolling-navbar">

<div class="container">
<!-- Navbar brand -->
<logo><a class="navbar-brand" href="{% url 'post_list' %}"><span class="border border-white p-1">Nf</span></a></logo>

<!-- Collapse button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar"
     aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- Collapsible content -->
<div class="collapse navbar-collapse" id="mainNavBar">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'post_list' %}#two">Posts
                <span class="sr-only">(current)</span>
            </a>
        </li>


        <!-- Dropdown -->
        <!-- Determines if user is already signed in -->
        {% if user.is_authenticated %}
                    <!-- Only displays logout option if signed in -->
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Log Out
                      </a>
                  </li>
      {% else %}
      <!-- login and signup options display if not already logged in -->
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'login' %}">Log In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'signup' %}">Sign Up
          </a>
        </li>
        {% endif %}
        <!-- Staff options allow for new post creation as well as seeing drafts that have not been published -->
      {% if user.is_staff %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'post_new' %}">New Post
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_draft_list' %}">Drafts
                    </a>
                  </li>
      {% endif %}

    </ul>
    <!-- Links -->

</div>
<!-- Collapsible content -->


</div>
</nav>
