{% extends "blog/base.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  // Flip Card function for about section
  $('#aboutFlip').bind({
    click: function() {
      $('#aboutFlip .card').toggleClass('flipped');
    },
  });

  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Hide navbar for same page transition as it was not collapsing on its own
      $("#mainNavBar").click(function() {
        $(".collapse").collapse('toggle');
      });

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 1800, function() {

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

<!-- Loads the about page first to maintain the materail scroll-over option -->
{% include './about.html' %}

<div id="two">
  <main class="mt-5">
    <!-- Centerstage begins the align of below items -->
    <div class="centerstage container">
      <!-- Divider line -->
      <hr class="my-5">
      <!-- Divider line -->
      <section id="picPosts" class="text-center">
        <!-- When navigating back to the recent posts section animation fades in from bottom -->
        <div class="row animated fadeInUpBig">
          <!-- Looks for any posts that exist -->
          {% for post in post_list %}
          <!-- Loads the most recent 6 posts -->
          {% if forloop.counter <= 6 %}
          <!-- Row sizing for differnt displays and sizes -->
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pics overlay z-depth-1-half">
              <p class="h3 listHeading"> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> </p>
              <a id="listPics" href="{% url 'post_detail' pk=post.pk %}">   <img src="/static/media/{{post.image}}" class="img-fluid" alt="Overroasted Image">
              </a>
              <div class="date">
                <!-- Formatted to show date and not time -->
                <p>Published on: {{post.published_date|date:"N d Y"}}</p>
              </div>
              <!-- Displays any comments previously left by users -->
              <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comment.count }}</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- Link to All Posts page -->
    <a class="btn btn-outline-brown waves-effect" href="{% url 'all_posts' %}">More Posts<i class="fa fa-book ml-2"></i><a/>
    </section>
</div>
</main>
</div>
{% endblock %}
